ExiledCSX.EventGen/

[Dd]ebug/
[Rr]elease/
*.dll
*.pdb
x64/
x86/
[Bb]in/
[Oo]bj/

.vs/
*.user
*.suo
*.userosscache
*.sln.docshortcuts

.idea/
*.sln.iml

packages/
*.nuget.props
*.nuget.targets

*.device.config
*.metadata
*.binlog

project_dump.txt
project_one_file.py

.DS_Store
Thumbs.db
